Source: fresco
Section: gnome
Priority: optional
Maintainer: Snehal-Reddy <developer@miraie.in>
Build-Depends: debhelper-compat (= 13),
               meson (>= 1.0.0),
               ninja-build,
               desktop-file-utils,
               appstream,
               libglib2.0-bin,
               gettext,
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: fresco
Architecture: all
Depends: ${misc:Depends},
         python3,
         python3-gi,
         gir1.2-gtk-4.0,
         gir1.2-adw-1,
         gir1.2-gdkpixbuf-2.0,
Description: Manage and auto-rotate your wallpapers
 Fresco keeps a folder of your favorite wallpapers and rotates your
 desktop background every 24 hours. Add images, crop them to fit your
 screen, and switch wallpapers manually or let Fresco do it for you.
